.p {
  color: rgba(255, 0, 0, 0.685);
  
}
.derive{
    text-align: center;
    color:rgb(145, 214, 145);
}
h1{
     color: rgb(21, 255, 0);
 }
 .makeup{
  background-color: gray;
  color:yellow;
  text-align: center;

 }